# Dependencies
node_modules
.pnpm-store

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production Build
dist
build

# Editor directory and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.bolt